
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0E1014;
  color: #FFFFFF;
}

h1 {
  font-size: 64px;
  letter-spacing: 5px;
  font-family: "Unbounded", sans-serif;
  text-align: center;
  margin-top: 60px;
}

p {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: 24px;
}

a {
  color: #FFFFFF;
  font-size: 24px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  background-color: #9747FF;
  width: 340px;
  height: 66px;
  display: block;
  text-align: center;
  line-height: 66px;
  border-radius: 36px;
  margin: 40px auto;
}

a:hover {
  background-color: #8233E8;
}

section img {
  display: block;
  width: 792px;
  height: 446px;
  margin: 0 auto;
}

header img {
  display: block;
  margin: 50px 0 0 180px;
}

/* <weight>: Use a value from 200 to 900
 <uniquifier>: Use a unique and descriptive class name

.unbounded-<uniquifier> {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
